# =============================================
#   CompareX — Environment Variables
#   Copy this file to .env and fill values
# =============================================

# Server
PORT=5000
NODE_ENV=development

# MongoDB — local XAMPP ya MongoDB Atlas
MONGO_URI=mongodb://localhost:27017/comparex

# JWT Secret — koi bhi strong random string
JWT_SECRET=comparex_super_secret_jwt_key_2025
JWT_EXPIRE=7d

# Razorpay Keys (razorpay.com se milenge)
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

# Frontend URL (CORS ke liye)
FRONTEND_URL=http://localhost:3000

# Admin Default (seed script use karta hai)
ADMIN_EMAIL=admin@comparex.com
ADMIN_PASSWORD=Admin@2025
